@mixin b($point) {
  @if $point==desktop {
    @media (max-width: 1366px) and (min-width: 1024px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point==mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (max-width: $point + 'px') {
      @content;
    }
  }
}

.page-content-grid-desktop {
  display: flex;
  flex: 1;
  padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 4);
  padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 4);
}

.page-content {
  margin-top: 20px;
  margin-bottom: 0;
}

.stats {
  &-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;

    &-item {
      max-width: 185px;
      min-height: 185px;
      background-color: #f9f7f1;
      border-radius: 12px;
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @include b(mobile) {
        padding: 0 30px;
        min-width: 100%;
        flex-direction: row;
      }
    }
  }

  &-title {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);

    @include b(mobile) {
      width: 50%;
      text-align: left;
    }
  }

  &-info {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    color: #862632;

    @include b(mobile) {
      font-size: 24px;
    }
  }
}

.chart {
  &-panel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &-info {
      padding: 14px 0px 14px 10px;
      border-radius: 4px;
      background-color: #f9f7f1;
      box-sizing: border-box;

      @include  b(mobile) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-item {
      border-radius: 4px;
      background-color: #fff;
      font-weight: normal;
      font-size: 15px;
      text-align: center;
      color: #695b5d;
      padding: 6px 14px 6px 14px;
      cursor: pointer;
      margin-right: 10px;

      &.active {
        background-color: #c2b59b;
        font-weight: bold;
        color: #ffffff;
        cursor: default;
      }
    }
  }
  &-container {

  }
  &-footer {
    height: 100px;
  }
}

